<template>
    <div class="container">
       <div class="row">
  <div class="form-horizontal">
    <div class="form-group">
      <label for="username" class="control-label">username</label>
      <div class="col-xs-6">
        <input type="text" id="username" class="form-control" v-model="username">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="control-label">commend</label>
      <div class="col-xs-6">
        <input type="text" id="commend" class="form-control" v-model="comment">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-4 text-center">
        <input type="button" value="添加" class="btn btn-primary" @click="adduser()">
        <input type="button" value="取消" class="btn btn-danger" @click="cancel()">

      </div>
    </div>
  </div>
</div>
<hr>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">user</th>
      <th class="text-center">commend</th>
      <th class="text-center">control</th>
    </tr>
  </thead>
  <tbody>
    <tr v-show="userList.length==0">
      <td colspan="4" class="text-center text-danger">warning msg</td>
    </tr>
    <tr class="text-center" v-for="(item, index) in userList">
      <td>{{index+1}}</td>
      <td>{{item.username}}</td>
      <td>{{item.comment}}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
</template>

<script>
    export default {
        data() {
        return{
            username: '',
            comment:'',
            userList:[{
                username:'wang',
                comment:'something'
            },
            {
                usernmae:'wei',
                comment:'something'
            }
            ]
        }
    },
    methods:{
        adduser:function(){
            if(this.username != ""){
                this.userList.router.push({
                    username:this.username,
                    comment:this.comment
                });
                this.username ='';
                this.comment = '';
            }
        },
        cancel:function(){
            this.username='';
            this.comment='';
        },
        deleteUser(index){
            var t = confirm('Yes?');
            if(t){
                this.userList.splice(index,1);
            }
        }
    }
    }
</script>
