<template>
  <div class="container pt-4">
       <div class="text-center">
       <label for="username" class="control-label">ユーザー名</label>
       <div class="">
       <input type="text" id="username" style="width:300px">
       </div>
       </div>
       <div class="text-center">
       <label for="password" class="control-label">パスワード</label>
       <div class="">
       <input type="password" id="password" style="width:300px">
       </div>
       </div>
         <div class="text-center pt-4">
           <input type="reset" value="リセット" class="btn btn-danger">
           <input type="submit" value="ログイン" class="btn btn-primary">
         </div>

  </div>
</template>

<script>
export default {
    
}
</script>