<template>
   <div class='container pt-5'>
<table class='table table-bordered table-hover'>
    <thead>
        <tr>
            <th class='text-center'>id</th>     
            <th class='text-center'>商品画像</th>
            <th class='text-center'>商品情報</th> 
            <th class='text-center'>在庫数</th> 
            
        </tr>
    </thead>
    <tbody>
        <td>
                <input type="button" class="btn btn-warning btn-sm" value="刷新" @click="created()">
            </td>
        <tr v-show="info_list.length==0">
            <td colspan="4" class="text-center text-danger">
                データが読み込めませんでした
            </td>
        </tr>
        <tr class='text-center' v-for="(item, index) in info_list">
            <td>{{index+1}}</td>
            <td>{{item.image_url}}</td>
            <td>{{item.goods_info}}</td>
            <!-- <td>{{item.stock_num}}</td> -->
            
        </tr>
    </tbody>
    </table>
</div>
</template>
<script>
// import list from '/testJson.php'
export default {
    data(){
        return{
            image_url:'',
            goods_info:'',
            stock_num:'',
            info_list:[
                // {
                //     image_url:'',
                //     goods_info:'',
                //     stock_num:''
                // }
            ]
        }
    },
    //  created: function() {
    //         var self = this;
    //         $.ajax({
    //             url: '/test',
    //             type: 'get',
    //             data: {},
    //             dataType: 'json',
    //             headers: {
    //         'X-CSRF-TOKEN': $('meta[name="_token"]').attr('content')
    //         }
    //         }).then(function (data){
    //             console.log(data);
    //         }).fail(function(){
    //             console.log("失败");
                
    //         })
    //     },
    methods:{
       
       created: function() {
            var self = this;
            $.ajax({
                url: '/test',
                type: 'get',
                data: {},
                dataType: 'json',
                headers: {
            'X-CSRF-TOKEN': $('meta[name="_token"]').attr('content')
            }
            }).then(function (data){
                self.info_list=data;
            }).fail(function(data, textStatus, errorThrown){
                console.log("失败",textStatus);
                
            })
       }

    }
}
</script>